
<div>
    <space [gridCoords]="[boxIndex, rowIndexes[0], columnIndexes[0]]"></space>
    <space [gridCoords]="[boxIndex, rowIndexes[0], columnIndexes[1]]"></space>
    <space [gridCoords]="[boxIndex, rowIndexes[0], columnIndexes[2]]"></space>
</div>
<div>
    <space [gridCoords]="[boxIndex, rowIndexes[1], columnIndexes[0]]"></space>
    <space [gridCoords]="[boxIndex, rowIndexes[1], columnIndexes[1]]"></space>
    <space [gridCoords]="[boxIndex, rowIndexes[1], columnIndexes[2]]"></space>
</div>
<div>
    <space [gridCoords]="[boxIndex, rowIndexes[2], columnIndexes[0]]"></space>
    <space [gridCoords]="[boxIndex, rowIndexes[2], columnIndexes[1]]"></space>
    <space [gridCoords]="[boxIndex, rowIndexes[2], columnIndexes[2]]"></space>
</div>