
<div>
    <h1>Welcome to the Sudoku Solver!</h1>

    <h3>
        This is a program that allows you to enter in your own Sudoku puzzle and solves it for you.
        <br>
        <br>
        Simply move your mouse over a space and you can type in any number from 1 through 9. 
        <br>
        <br>
        If you're unfamiliar with Sudoku, a valid solution is one where every row, column, and 3x3 box
        has only one occurrence of every number 1 through 9. There can be no duplicate numbers in any of them.
        <br>
        <br>
        If you enter in a duplicate number in a row, box, or column, that space will turn red as well as any
        spaces with the duplicate number. The program will not solve it until all spaces are white.
        <br>
        <br>
        Simply click the Solve button when ready or the Clear button to reset the board.
    </h3>

    <board></board>
</div>