
button {
    background-color: red;
    color: black;
    margin: 5px;
    justify-content: center;
}

.boardSection {
    margin: auto;
    justify-content: center;
}

.boardSection > div {
    display: inline-flex;
    flex-direction: column;
    margin: 0%;
}