
button {
    background-color: green;
    color: white;
    margin: 15px;
    justify-items: center;
    padding: 20px;
    border-radius: 100%;
    transition-duration: 0.5s;
}

button:hover {
    background-color: yellowgreen;
}

button:disabled {
    background-color: crimson;
}

.boardSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boardSection > div {
    display: inline-flex;
    flex-direction: column;
    margin: 0%;
}

.buttonSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}