<div class="boardSection">
    <div>
        <box [boxIndex]="0" [rowIndexes]="[0,1,2]" [columnIndexes]="[0,1,2]"></box>
        <box [boxIndex]="3" [rowIndexes]="[3,4,5]" [columnIndexes]="[0,1,2]"></box>
        <box [boxIndex]="6" [rowIndexes]="[6,7,8]" [columnIndexes]="[0,1,2]"></box>
    </div>
    <div>
        <box [boxIndex]="1" [rowIndexes]="[0,1,2]" [columnIndexes]="[3,4,5]"></box>
        <box [boxIndex]="4" [rowIndexes]="[3,4,5]" [columnIndexes]="[3,4,5]"></box>
        <box [boxIndex]="7" [rowIndexes]="[6,7,8]" [columnIndexes]="[3,4,5]"></box>
    </div>
    <div>
        <box [boxIndex]="2" [rowIndexes]="[0,1,2]" [columnIndexes]="[6,7,8]"></box>
        <box [boxIndex]="5" [rowIndexes]="[3,4,5]" [columnIndexes]="[6,7,8]"></box>
        <box [boxIndex]="8" [rowIndexes]="[6,7,8]" [columnIndexes]="[6,7,8]"></box>
    </div>
</div>

<div class="buttonSection">
    <button (click)="getPuzzle()">Generate Puzzle</button>
    <button (click)="solveGrid()" [disabled]="buttonDisabled">Solve the Puzzle</button>
    <button (click)="clearBoard()">Clear Board</button>
</div>
